# Ignore all files ending with ...
*~
*.bak

# Ignore specific directories anywhere in the directory tree
**/.devcontainer
**/.vscode
**/build/
**/managed_components/

# Ignore specific files anywhere in the directory tree
**/wifi_credentials.h
**/network_config.h
**/sdkconfig
**/sdkconfig.old
**/dependencies.lock
**/.codex

# Ignore specific directories
# sparknode_cam_wifi/frames/

# Ignore specific files
# sparknode_cam_wifi/dependencies.lock
